body {
    background-color: black;
}

.quotegenerator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    font-size: 20px;
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 5px;
    width: 200px;
}

.heading {
    color: white;
    text-decoration: underline;
}

.author {
    color: white;
    animation: ZoomIn 2s;
    font-size: 20px;
}

.quote {
    color: white;
    animation: ZoomIn 2s;
}

@keyframes ZoomIn {
    0% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

/* @keyframes rotate{
    50% {transform: rotate(360deg);}
} */

/* counter css */
.counterapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counter {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px;
}

#increament {
    background-color: rgb(28, 185, 28);
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    border-color: white;
    border-width: 2px;
}

#decreament {
    background-color: red;
    padding: 5px 11px;
    border-radius: 5px;
    border-color: white;
    border-width: 2px;
    margin-left: 10px;
}

/* form css */
.form {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 40px;
}

.form div {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
}

input {
    height: 20px;
}

.center {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.center button {
    width: 100px;
    height: 30px;
}

#error {
    margin-top: 20px;
    color: red;
}
